In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_pickle("data.pkl")

In [3]:
df.head()

,_id,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,1,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,3,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,4,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,5,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0

In [4]:
def year_to_month(s):
    # Converts input of format "xx years yy months" or "xx years" into a month integer
    splitted = s.split()
    # Data is in format "xx years yy months" or "xx years"
    months = 0
    if len(splitted) >= 4:  # Handle the format "xx years yy months" 
        months += int(splitted[0]) * 12 # 
        months += int(splitted[2])
    else:
        months += int(splitted[0]) * 12
        
    return months

def storey_range(s):
    # converts input of format "xx to xx" to the average of the 2 numbers.
    splitted = s.split()
    val1 = int(splitted[0])
    val2 = int(splitted[2])
    avg_val = (val1 + val2) / 2
    return avg_val

In [5]:
# _id: set it as index. 
df.set_index("_id", inplace=True)

# town, flat_type: Get dummy cols, handle later.

# month: Set to type datetime
df['month'] = pd.to_datetime(df['month'])

# street_name: Drop if we have town...
df.drop(columns="street_name", inplace=True)

# storey range: Take middle of the storey range
df['storey_range'] = df['storey_range'].apply(storey_range)

# floor area sqm: keep, standardize later

# flat model: drop
df.drop(columns="floor_area_sqm", inplace=True)

# remaining lease: convert to months (integer)
df['remaining_lease'] = df['remaining_lease'].apply(year_to_month)

# resale price: keep, standardize later

In [10]:
# standardize numeric cols
ss = StandardScaler()
ss.

In [7]:
# get dummy cols for town, flat.

In [8]:
df.flat_type.value_counts()

4 ROOM              28301
5 ROOM              16927
3 ROOM              16422
EXECUTIVE            5457
2 ROOM                991
MULTI-GENERATION       33
1 ROOM                 30
Name: flat_type, dtype: int64